.portfolio {
  /* display: grid;
  grid-template-columns: 1fr; */
  position: relative;
}

.portfolio .scene:nth-child(even) {
  right: 20rem;
}

.portfolio .scene:nth-child(odd) > .project {
  transform: rotateY(-0.1turn) translateY(1rem);
}
.portfolio .scene:nth-child(even) > .project {
  transform: rotateY(0.1turn) translateY(1rem);
}
