#logo {
  background: linear-gradient(red, green);
  grid-area: main;
  /* width: 20vw; */
  aspect-ratio: 1;
}

#top-circle {
  height: 50%;
  border-radius: 50%;
  border: 5px solid blue;
}

#bottom-circle {
  height: 50%;
  border: 5px solid white;
  border-radius: 50%;
}
