@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

@keyframes cursor {
  0%,
  100% {
    border-color: green;
  }
  50% {
    border-color: transparent;
  }
}

@keyframes radiating {
  0% {
    /* filter: hue-rotate(calc(var(--i) * 0deg)); */
    filter: hue-rotate(0deg);
  }
  100% {
    filter: hue-rotate(360deg);
    /* filter: hue-rotate(calc(var(--i) * 360deg)); */
  }
}
@keyframes rotate {
  0%,
  100% {
    transform: rotate(calc(var(--i) * 36deg)) translate(30vh);
  }
  50% {
    transform: rotate(calc(var(--i) * 36deg)) translate(30vh) rotate(360deg);
  }
}

@keyframes rotation {
  50% {
    transform: rotateY(0.05turn);
    transform: rotateZ(0.05turn);
  }
}