.background {
  /* grid-area: content; */
  height: 100%;
  width: 100vw;
  overflow: hidden;
  background-color: var(--primary-color);
  /* background: rgb(6, 22, 22); */
  position: fixed;
  z-index: -1000;
}

.background div {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent;
  height: 1rem;
  width: 1rem;
  margin: 0 auto;
  border-radius: 50%;
  box-sizing: border-box;
  animation: rotate 90s linear infinite;
}

.background div::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 0.1rem;
  height: 0.1rem;
  border-radius: 50%;
  background-color: transparent;
  animation: coolness 10s ease-in-out infinite;
  animation-delay: calc(0.2s * var(--i));
  box-shadow: 50vh 20vh 0 green, 10vh 50vh 0 green, 50vh 70vh 0 green,
    20vh 65vh 0 green, 50vh 10vh 0 green, 50vh -70vh 0 green, 40vh 45vh 0 green;
}


